<footer id="footer" data-node="footer">
    <span id="todo-count">
        <strong data-node="todo-count"></strong> item left
    </span>
    <ul id="filters" data-node="filters">
        <li>
            <a class="selected" href="#/" data-node="all">All</a>
        </li>
        <li>
            <a href="#/active" data-node="active">Active</a>
        </li>
        <li>
            <a href="#/completed" data-node="completed">Completed</a>
        </li>
    </ul>
    <button id="clear-completed" data-node="clear-completed">Clear completed (<span data-node="completed-count"></span>)</button>
</footer>